<div id="home" class="parallax top-content" data-stellar-background-ratio="0.3" style="background-image:url('https://s3-us-west-2.amazonaws.com/unitedneighbor-us-west-2/united_cover.jpg')">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 top-description">
          <h2 class="text-center">
            MAKE THE WORLD A BETTER PLACE
          </h2>
          <p>Volunteer or donate and make the world a better place.</p>
          <div class="top-button">
            <a class="btn btn-top-white btn-lg" href="/users/sign_in">Start A Campaign</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features -->
<div id="features-section" class="features-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 features">
        <h3>How It Works</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 features-box">
        <div class="icon">
          <i class="fa fa-heart-o"></i>
        </div>
        <h4>Volunteer Time</h4>
        <p>
          Find a campaign and volunteer time
        </p>
      </div>
      <div class="col-sm-4 features-box">
        <div class="icon">
          <i class="fa fa-money"></i>
        </div>
        <h4>Or Donate</h4>
        <p>
          To a campaign
        </p>
      </div>
      <div class="col-sm-4 features-box">
        <div class="icon">
          <i class="fa fa-smile-o"></i>
        </div>
        <h4>That's It!</h4>
        <p>
          You just made the world a better place
        </p>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/users_footer' %>