<div class="container">
<div class="row"><div class="col-md-12">

<%= render 'contributions', contributions: @contributions, total_hours: @contributions.where(donation_type: 0).pluck(:donation_amount).reduce(0, :+).to_s + " Hours Volunteered", title: "My Contributions" %>
</div>
</div>
  


</div>