<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="section-container">
        <ul class="sidebar-list" id="reports">
          <li><a href="#">How many hours volunteered</a></li>
          <li class="active"><a href="#">Ratio of hours volunteered vs cash donated</a></li>
          <li><a href="#">How many campaigns in week/month/year</a></li>
          <li><a href="#">How much comission generated as profit</a></li>
          <li><a href="#">Total donations accepted</a></li>
          <li><a href="#">How many users</a></li>
          <li><a href="#">Projected income for the year</a></li>
          <li><a href="#">User locations</a></li>
          <li><a href="#">Average donation amount</a></li>
          <li><a href="#">How many donations recieved</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 ui-sortable">
          <div class="panel panel-inverse">
            <div class="panel-heading">
              <h4 class="panel-title">All Users</h4>
            </div>
            
            <div class="panel-body">
              <div id="data-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  ul#reports {
    padding: 0;
  }
  #reports li {
    list-style: none;
    margin-bottom: 5px;
    background: #fff;
    padding: 10px;
  }
  #reports li.active {
    background-color: #666;
  }
  #reports li.active a {
    color: #fff;
  }
</style>