<script type="text/javascript" src="https://stage.wepay.com/min/js/iframe.wepay.js"></script>
<div class="row">
  <div class="col-md-12">
    <div id="withdrawal_div"><div>
  </div>
</div>
<script type="text/javascript">
  WePay.iframe_checkout("withdrawal_div", "https://stage.wepay.com/api/account_update/1078952265?iframe=1&redirect_uri=http%3A%2F%2Fexample.com%2Fwithdraw%2Fsuccess%2F");
</script>
<style type="text/css">
  #wepay_checkout_iframe {
    width: 97%;
    margin: 20px;
  }
</style>